# Project: Deep Neural Network
- Identify false banknotes

### Step 1: Import libraries

In [2]:
import pandas as pd
from sklearn.model_selection import train_test_split
from tensorflow.keras.layers import Dense
from tensorflow.keras.models import Sequential

### Step 2: Read the data
- Use Pandas [read_csv](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.read_csv.html) method to read **files/banknotes.csv**

In [3]:
data = pd.read_csv('https://raw.githubusercontent.com/LearnPythonWithRune/MachineLearningWithPython/main/jupyter/final/files/banknotes.csv')
data.head()

   variance  skewness  curtosis  entropy  class
0  -0.89569   3.00250 -3.606700 -3.44570      1
1   3.47690  -0.15314  2.530000  2.44950      0
2   3.91020   6.06500 -2.453400 -0.68234      0
3   0.60731   3.95440 -4.772000 -4.48530      1
4   2.37180   7.49080  0.015989 -1.74140      0

### Step 3: Investitigate the data
- Check how many classes (class)
    - HINT: use [unique()](https://pandas.pydata.org/docs/reference/api/pandas.unique.html)
- Check for missing data
    - HINT: use [isna()](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.isna.html)[.sum()](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.sum.html)

In [4]:
data['class'].unique()

array([1, 0])

In [5]:
data.isna().sum()

variance    0
skewness    0
curtosis    0
entropy     0
class       0
dtype: int64

### Step 4: Divite data into feature vectors and labels
- Assign the feature vectors to $X$
    - HINT: that is all but the last column of the data
- Assign the labels to $y$
    - HINT: that is the last column (**class**)

In [7]:
X = data.iloc[:,:-1]
y = data.iloc[:,-1]
X.head()

   variance  skewness  curtosis  entropy
0  -0.89569   3.00250 -3.606700 -3.44570
1   3.47690  -0.15314  2.530000  2.44950
2   3.91020   6.06500 -2.453400 -0.68234
3   0.60731   3.95440 -4.772000 -4.48530
4   2.37180   7.49080  0.015989 -1.74140

In [8]:
y.head()

0    1
1    0
2    0
3    1
4    0
Name: class, dtype: int64

### Step 5: Create training and test datasets
- Split $X$ and $y$ into train and test sets using **train_test_split** with **test_size=.4**

In [9]:
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.3,random_state=42)

### Step 6: Create and compile the model
- Create a **Sequential** model
    - **Dense** with 8 nodes with **input_dim=4, activaition='relu'**
    - **Dense** with 1 (the output node) with **activaition='sigmoid'**
- Complie the model with **optimizer='adam', loss='binary_crossentropy', metrics=['accuracy']**

In [11]:
model = Sequential()
model.add(Dense(8,input_dim=4,activation='relu'))
model.add(Dense(1,activation='sigmoid'))
model.compile(optimizer='adam',loss='binary_crossentropy',metrics=['accuracy'])

### Step 7: Fit and test the accuracy
- Fit the model on training data with **epochs=20**
- Evaluate the model with test data with **verbose=2**

In [13]:
model.fit(X_train,y_train,epochs=20)
model.evaluate(X_test,y_test,verbose=2)

Epoch 1/20
30/30 [==============================] - 0s 1ms/step - loss: 0.0907 - accuracy: 0.9948
Epoch 2/20
30/30 [==============================] - 0s 2ms/step - loss: 0.0831 - accuracy: 0.9958
Epoch 3/20
30/30 [==============================] - 0s 2ms/step - loss: 0.0759 - accuracy: 0.9958
Epoch 4/20
30/30 [==============================] - 0s 2ms/step - loss: 0.0698 - accuracy: 0.9948
Epoch 5/20
30/30 [==============================] - 0s 2ms/step - loss: 0.0642 - accuracy: 0.9937
Epoch 6/20
30/30 [==============================] - 0s 2ms/step - loss: 0.0595 - accuracy: 0.9948
Epoch 7/20
30/30 [==============================] - 0s 2ms/step - loss: 0.0551 - accuracy: 0.9958
Epoch 8/20
30/30 [==============================] - 0s 2ms/step - loss: 0.0513 - accuracy: 0.9948
Epoch 9/20
30/30 [==============================] - 0s 2ms/step - loss: 0.0476 - accuracy: 0.9958
Epoch 10/20
30/30 [==============================] - 0s 2ms/step - loss: 0.0442 - accuracy: 0.9958
Epoch 11/20
30/30 [==============================] - 0s 2ms/step - loss: 0.0410 - accuracy: 0.9958
Epoch 12/20
30/30 [==============================] - 0s 2ms/step - loss: 0.0382 - accuracy: 0.9958
Epoch 13/20
30/30 [==============================] - 0s 2ms/step - loss: 0.0358 - accuracy: 0.9958
Epoch 14/20
30/30 [==============================] - 0s 2ms/step - loss: 0.0336 - accuracy: 0.9958
Epoch 15/20
30/30 [==============================] - 0s 2ms/step - loss: 0.0315 - accuracy: 0.9979
Epoch 16/20
30/30 [==============================] - 0s 2ms/step - loss: 0.0297 - accuracy: 0.9990
Epoch 17/20
30/30 [==============================] - 0s 2ms/step - loss: 0.0281 - accuracy: 0.9990
Epoch 18/20
30/30 [==============================] - 0s 2ms/step - loss: 0.0266 - accuracy: 0.9990
Epoch 19/20
30/30 [==============================] - 0s 1ms/step - loss: 0.0252 - accuracy: 0.9990
Epoch 20/20
30/30 [==============================] - 0s 2ms/step - loss: 0.0239 - accuracy: 0.9990
13/13 - 0s - loss: 0.0233 - accuracy: 1.0000 - 163ms/epoch - 13ms/step

[0.023334043100476265, 1.0]

### Step 8 (Optional): Add another hidden layer
- Add another hidden layer in the model
- Test performance

In [14]:
model = Sequential()
model.add(Dense(8,input_dim=4,activation='relu'))
model.add(Dense(4,activation='relu'))
model.add(Dense(1,activation='sigmoid'))
model.compile(optimizer='adam',loss='binary_crossentropy',metrics=['accuracy'])

In [15]:
model.fit(X_train,y_train,epochs=20)
model.evaluate(X_test,y_test,verbose=2)

Epoch 1/20
30/30 [==============================] - 1s 2ms/step - loss: 0.8855 - accuracy: 0.2948
Epoch 2/20
30/30 [==============================] - 0s 2ms/step - loss: 0.7709 - accuracy: 0.3375
Epoch 3/20
30/30 [==============================] - 0s 2ms/step - loss: 0.6929 - accuracy: 0.4344
Epoch 4/20
30/30 [==============================] - 0s 2ms/step - loss: 0.6423 - accuracy: 0.5010
Epoch 5/20
30/30 [==============================] - 0s 2ms/step - loss: 0.6053 - accuracy: 0.6344
Epoch 6/20
30/30 [==============================] - 0s 2ms/step - loss: 0.5741 - accuracy: 0.7854
Epoch 7/20
30/30 [==============================] - 0s 2ms/step - loss: 0.5470 - accuracy: 0.8479
Epoch 8/20
30/30 [==============================] - 0s 2ms/step - loss: 0.5207 - accuracy: 0.8771
Epoch 9/20
30/30 [==============================] - 0s 2ms/step - loss: 0.4952 - accuracy: 0.9187
Epoch 10/20
30/30 [==============================] - 0s 3ms/step - loss: 0.4699 - accuracy: 0.9323
Epoch 11/20
30/30 [==============================] - 0s 2ms/step - loss: 0.4423 - accuracy: 0.9448
Epoch 12/20
30/30 [==============================] - 0s 2ms/step - loss: 0.4131 - accuracy: 0.9573
Epoch 13/20
30/30 [==============================] - 0s 2ms/step - loss: 0.3851 - accuracy: 0.9615
Epoch 14/20
30/30 [==============================] - 0s 2ms/step - loss: 0.3656 - accuracy: 0.9646
Epoch 15/20
30/30 [==============================] - 0s 2ms/step - loss: 0.3488 - accuracy: 0.9719
Epoch 16/20
30/30 [==============================] - 0s 2ms/step - loss: 0.3341 - accuracy: 0.9760
Epoch 17/20
30/30 [==============================] - 0s 2ms/step - loss: 0.3207 - accuracy: 0.9771
Epoch 18/20
30/30 [==============================] - 0s 2ms/step - loss: 0.3088 - accuracy: 0.9865
Epoch 19/20
30/30 [==============================] - 0s 2ms/step - loss: 0.2976 - accuracy: 0.9885
Epoch 20/20
30/30 [==============================] - 0s 2ms/step - loss: 0.2872 - accuracy: 0.9906
13/13 - 0s - loss: 0.2776 - accuracy: 0.9927 - 137ms/epoch - 11ms/step

[0.27763232588768005, 0.9927184581756592]